<!DOCTYPE html>
<html>
    <head>

    <title>Home</title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css"/>
    <link href="/css/main.css" rel="stylesheet" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


    <script src="/libs/jquery.js"></script>
    <!--<script src="/js/datamanager.js"></script>-->
    <!--<script src="/js/selectionList.js"></script>-->
    <!--<script src="/js/PlanetElma.js"></script>-->
 
    <!--<script src="/js/main.js"></script>-->

    
    </head>
    
<body>
    
    <div class="container-fluid">
       
            <!--header rule is setting the height for this row -->
            <div id="header" class="row">
                <div class="col-sm-3 col-md-6 col-lg-4" >
                    <a href = "aboutme.html"><img src = "/images/ealogo_white.png" height="80px" width="210px"/></a>
                </div>
                <div class="col-sm-9 col-md-6 col-lg-8" >
                    <div id="navbar">
                		<ul>
                			<li><a href="default.asp" target="_blank">About</a></li>
                			<li><a href="default.asp" target="_blank">Work</a></li>
                			<li><a href="default.asp" target="_blank">Photography</a></li>
                			<li><a href="default.asp" target="_blank">Blog</a></li>
                			<li><a href="default.asp" target="_blank">Contact</a></li>
                		</ul>
                	</div>
                </div>
                
            <div>
                 <table border="60px" style="width:100%">
                          <tr>
                            <td class="project"><img src = "/images/thestradlatest/std_latest1.jpg" ></a></td>
                            <td class="project"><img src = "/images/thestradlatest/std_latest2.jpg" ></a></td>
                            <td class="project"><img src = "/images/thestradlatest/std_latest3.jpg" ></a></td>
                            <td class="project"><img src = "/images/thestradlatest/std_latest4.jpg" ></a></td>
                            <td class="project"><img src = "/images/thestradlatest/std_latest5.jpg" ></a></td>
                            <td class="project"><img src = "/images/thestradlatest/std_latest6.jpg" ></a></td>
                            <td class="project"><img src = "/images/thestradlatest/std_latest7.jpg" ></a></td>
                            <td class="project"><img src = "/images/thestradlatest/std_latest8.jpg" ></a></td>
                            <td class="project"><img src = "/images/thestradlatest/std_latest9.jpg" ></a></td>
                          </tr>
                 </table> 
                
            </div>
            
            
            <!--<div class="row">
                <div class ="project-line">
                    <a href = "home.html" class = "gallery-image g1-image" title="Image 1 link"> </a>
                </div>
                
                <div class ="project-line">
                    <a href = "ImgFrame.html" class = "gallery-image g2-image" title="Image 2 link"> </a>
                </div>
                
                <div class ="project-line">
                    <a href = "ImgFrame.html" class = "gallery-image g3-image" title="Image 3 link"> </a>
                </div>
                
                <div class ="project-line">
                    <a href = "ImgFrame.html" class = "gallery-image g4-image" title="Image 4 link"> </a>
                </div>
                
                <div class ="project-line">
                    <a href = "ImgFrame.html" class = "gallery-image g1-image" title="Image 5 link"> </a>
                </div>
                
                <div class ="col">
                    <a href = "ImgFrame.html" class = "gallery-image g2-image" title="Image 6 link"> </a>
                </div>
                
                <div class ="col">
                    <a href = "ImgFrame.html" class = "gallery-image g3-image" title="Image 7 link"> </a>
                </div>
                
                <div class ="col">
                    <a href = "ImgFrame.html" class = "gallery-image g4-image" title="Image 8 link"> </a>
                </div>
            <div id="project-line">
                </div><a href = "home.html"><img src = "/images/thestradlatest/std_latest1.jpg" ></a>
                </div><a href = "home.html"><img src = "/images/thestradlatest/std_latest2.jpg" id="project-line"></a>
                <div><a href = "home.html"><img src = "/images/thestradlatest/std_latest3.jpg" class="project-line"></a>
                    <a href = "home.html"><img src = "/images/thestradlatest/std_latest4.jpg" class="project-line"></a>
            </div>-->
</body>

</html>